.experience-card {
    background: lavender; /* Dark background */
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Shadow for elevation */
    overflow: hidden;
    max-width: 400px;
    text-align: center;
    margin: 20px;
    color:rgb(44, 3, 44); ;
}

.experience-header {
    background:  white; /* Facebook blue */
    padding: 70px;
    position: relative;
    border-radius: 15px 15px 0 0;
}

.experience-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color:  #8CC63F;
}

.logo-container-1 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo-1 {
    width: 50px;
    height: 50px;
}

.experience-body {
    padding: 30px;
}

.experience-body h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: rgb(44, 3, 44);;
}

.dates {
    font-size: 0.9rem;
    color: rgb(44, 3, 44);;
    margin-bottom: 15px;
}

.description {
    font-size: 0.9rem;
    margin-bottom: 15px;
    margin-bottom: 8px;
    color: rgb(44, 3, 44);;
}

ul {
    list-style: disc;
    padding-left: 20px;
    text-align: left;
    margin: 0;
    font-size: 0.9rem;
}

ul li {
    margin-bottom: 8px;
    color: rgb(44, 3, 44);;
}
